.input-group {
  display: flex;
  margin-bottom: $m-size;
  align-items: center;
  flex-direction: column;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.input-group__item {
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint) {
    margin-right: $s-size;
    margin: 0 $s-size;
  }
}